.save {
    background-color: green;
    width: 75px;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 10px;
}

.delete {
    background-color: red;
    width: 75px;
    margin-top: 10px;
}

.auto {
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 10px;
    width: 75px;
}