.container {
    display: flex;
    align-items: center;
}

.notes {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.saveText {
    margin-left: 10px;
    width: 75px;
    margin-top: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}